SCRIPTS_PATH='~/dotfiles/scripts'

#Budler
alias be='bundle exec'

#Directories
alias home='cd ~/'

#GIT
alias gcp='git cherry-pick'
alias gps='staging deploy'
alias gpp='production deploy'
alias gup='gpr'
alias grbi='git rebase -i'

#GIT HUB
alias ghcl='gh repo clone'
alias ghprv='gh pr view --web'

#Kamal
alias kc='kamal console'
alias kd='kamal deploy'
alias ks='kamal setup'

#Rails
alias rc='rails c'
alias rg='rails g'

#Rails-rspec
alias rspc='rspec spec'

#TMUX
alias tmux-session-switch=$SCRIPTS_PATH/tmux-session-switch.sh
alias tp="tmux-popup"

#VIM
alias v='nvim'
alias vim='nvim'

#VPN
alias vpn-raya='sudo openvpn --config ~/.vpn/dopay-raya'
alias vpn-dopay-raya='sudo -v && op read "op://Private/dopay-cairo-vpn/password" | sudo openfortivpn -c ~/.vpn/dopay-cairo.conf'
alias vpn-dopay-raya='sudo -v && op read "op://Private/dopay-raya-vpn/password" | sudo openfortivpn -c ~/.vpn/dopay-raya.conf'
alias vpn-tm-up='wg-quick up DM'
alias vpn-tm-down='wg-quick down DM'

#ZSH
alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"
