SCRIPTS_PATH='~/dotfiles/scripts'

# Automation
alias ds="tmux-popup 'daily-summary'"

#Budler
alias be='bundle exec'

#Directories
alias home='cd ~/'

#GIT
alias gcl='gh repo clone'
alias gcp='git cherry-pick'
alias gmf=$SCRIPTS_PATH/git-merge-pull-request.sh
alias gps='staging deploy'
alias gpp='production deploy'
alias gpr='git pull --rebase'
alias grbi='git rebase -i'

#Kamal
alias kc='kamal console'
alias kd='kamal deploy'
alias ks='kamal setup'

#Rails
alias rc='rails c'
alias rg='rails g'

#Rails-rspec
alias rspc='rspec spec'

#TMUX
alias tmux-session-switch=$SCRIPTS_PATH/tmux-session-switch.sh
alias tp="tmux-popup"

#VIM
alias v='nvim'
alias vim='nvim'

#VPN
alias vpn-raya='sudo openvpn --config ~/.vpn/dopay-raya'
alias vpn-tm-up='wg-quick up DM'
alias vpn-tm-down='wg-quick down DM'

#ZSH
alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"
